body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    }
.container {
width: 80%;
margin: 0 auto;
background-color: #fff;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
color: #333;
}
a {
color: #0099cc;
text-decoration: none;
margin-right: 10px;
}
table {
width: 100%;
border-collapse: collapse;
margin-top: 15px;
}
table, th, td {
border: 1px solid #ccc;
}
th, td {
padding: 10px;
text-align: left;
}
form label {
display: block;
margin-top: 10px;
}
form input[type="text"],
form input[type="number"] {
width: 100%;
padding: 8px;
margin: 0.5rem 0;
}
form input[type="submit"] {
margin-top: 15px;
padding: 10px 15px;
background-color: #0099cc;
color: #fff;
border: none;
cursor: pointe
}

#footer {
    padding: 3rem;
    text-align: center;
}